/*


BIG RESOURCES
by ajgeiss0702

I have probably changed the name because I just thought of something random to name it.


*/
canvas.main {
  height: 100vh;
  width: 100vw;
}
body, html {
  padding: 0;
  margin: 0;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
img.hide {
  display: none;
}
.hidden {
  display: none;
}

.settingsbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% - .5px));
  -webkit-transform: translateX(-50%) translateY(calc(-50% - .5px));

  width: 87vw;
  height: 75vh;
  overflow: auto;

  text-align: center;
  font-size: 1em;

  background-color: rgba(206, 206, 206, 0.9);
  border-radius: 1vh;

  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.slideout {
  transform: translateX(100vw);
}

.color {
  display: inline-block;
  min-width: 5em;
  min-height: 2em;
  border-radius: 0.3em;
  margin-left: 0.25em;
  margin-right: 0.25em;

  border-style: solid;
  border-width: 0.1%;
  border-color: black;
}

.settings {
  position: fixed;
  right: 1%;
  bottom: 2%;
  cursor: pointer;
}
img.settings {
  width: 5%;
}
img.settings {
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
img.settings:hover {
  transform: scale(1.15);
}


.buymenu {
  position: fixed;
  top: 0;
  left: 0;
  /*transform: translateX(-50%) translateY(calc(-50% - .5px));
  -webkit-transform: translateX(-50%) translateY(calc(-50% - .5px));*/

  width: 30vw;
  height: 100vh;
  overflow: auto;

  text-align: center;
  font-size: 1em;

  background-color: rgba(206, 206, 206, 0.6);
  border-radius: 1vh;

  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
.slideoutside {
  transform: translateX(-100%);
}
.buymenubtn {
  position: fixed;
  left: 1%;
  bottom: 2%;
  cursor: pointer;
}
img.buymenubtn {
  width: 5%;
}
img.buymenubtn {
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
img.buymenubtn:hover {
  transform: scale(1.15);
}

.buybtn {
  font-size: 1.5em;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  background-color: white;
  border-radius: 1em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1.25em;
  margin-right: 1.25em;

  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
.buybtn:hover {
  transform: scale(1.15);
}


.materials {
  position: fixed;
  top: 0;
  right: -8vw;

  font-size: 1.5em;
  text-align: right;

  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.materialshover {
  transform: translateX(-16vw);
}

.whitetext {
  color: white;
}
